* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
html {
	font-size: 62.5%;
}
body {
	background-color: var(--back-color);
	color: var(--fore-color);
	font-family: "karla", "manrope", helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 1.5;
}

/* font-sizing for content */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em;
	line-height: 1.5;
	margin: 1.5em 0 0;
}
h1, h2, h3, h4, h5, h6 {
	color: var(--fore-color);
}
h1 {
	margin: 20px 0;
	line-height: 90px;
	font-size: 70px;
	font-weight: 900;
}
h2 {
	margin: 15px 0;
	line-height: 50px;
	font-size: 40px;
	font-weight: 800;
}
h3 {
	margin: 15px 0 ;
	line-height: 36px;
	font-size: 30px;
	font-weight: 800;
}
h4 {
	margin:  10px 0 0 0;
	line-height: 30px;
	font-size: 24px;
	font-weight: 600;
}
h5 {
	margin:  10px 0 0 0;
	line-height: 24px;
	font-size: 20px;
	font-weight: 500;
}
h6 {
	margin:  8px 0 0 0;
	line-height: 24px;
	font-size: 20px;
	font-weight: 500;
}

/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.main-container {
	max-width: 1440px;
	width: 100%;
	min-height: 100%;
	margin: 20px auto;
	padding: 0 20px;
	box-sizing: border-box;
}

a {
	color: var(--main-color);
}

input {
	margin: 20px 0;
	padding: 0 40px;
	min-height: var(--size-input);
	border: none;
	border-radius: 100px;
	background-color: var(--back-color-var1);
	font-family: "karla", "manrope", helvetica, arial, sans-serif;
	font-size: 22px;
	color: var(--fore-color-var1);
}

input[type="submit"] {
	cursor: pointer;
	padding: 10px;
	border-radius: 100px;
	background: linear-gradient(90deg, var(--gradient-color1) 0%, var(--gradient-color2) 100%);
	color: white;
	font-weight: bold;
	font-size: 28px;
}

button {
	cursor: pointer;
	margin: 10px;
	padding: 10px 20px;
	min-height: 50px;
	border: 3px solid var(--main-color);
	background: none;
	border-radius: 100px;
	font-family: "karla", "manrope", helvetica, arial, sans-serif;
	color: var(--main-color);
	font-weight: 700;
	font-size: 20px;
}
button:hover {
	background-color: var(--main-color);
	color: white;
}