@import "./settings.css";
@import "./general.css";
@import "./components/header/header.css";
@import "./components/stats/stats.css";
@import "./components/log/log.css";
@import "./components/calendar/calendar.css";
@import "./pages/profile.css";
@import "./responsive.css";