:root {
	--back-color: #F2F1F1;
	--back-color-var1: #e0e0e0;
	--middle-color: white;
	--fore-color: #2f2f2f;
	--fore-color-var1: #676767;
	--main-color: #FF646F;
	--main-color-var1: #e04953;
	--main-color-var2: #c73640;
	--gradient-color1: #FF646F;
	--gradient-color2: #993e9c;
	--error-color: #e25a7c;
	--size-input: 70px;
}

/*---------------------------|Fonts|---------------------------*/
/*Manrope*/
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-ExtraLight.woff");
	font-weight: 100;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-Light.woff");
	font-weight: 200;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-Regular.woff");
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-Medium.woff");
	font-weight: 500;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-SemiBold.woff");
	font-weight: 600;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-Bold.woff");
	font-weight: bold;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-ExtraBold.woff");
	font-weight: 800;
}

/*Karla*/
@font-face {
	font-family: "karla";
	src: url("../media/font/karla/ttf/Karla-ExtraLight.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "karla";
	src: url("../media/font/karla/ttf/Karla-Light.ttf");
	font-weight: 200;
}
@font-face {
	font-family: "karla";
	src: url("../media/font/karla/ttf/Karla-Regular.ttf");
}
@font-face {
	font-family: "karla";
	src: url("../media/font/karla/ttf/Karla-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "karla";
	src: url("../media/font/karla/ttf/Karla-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: "karla";
	src: url("../media/font/karla/ttf/Karla-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "karla";
	src: url("../media/font/karla/ttf/Karla-ExtraBold.ttf");
	font-weight: 800;
}