:root {
	--back-color: #ffffff;
	--back-color-var1: #E8E8E8;
	--fore-color: #2f2f2f;
	--fore-color-var1: #676767;
	--main-color: #FF646F;
	--main-color-var1: #e04953;
	--main-color-var2: #c73640;
	--gradient-color1: #FF646F;
	--gradient-color2: #993e9c;
	--error-color: #e25a7c;
	--size-input: 70px;
}

/*---------------------------|Fonts|---------------------------*/
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-ExtraLight.woff");
	font-weight: 100;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-Light.woff");
	font-weight: 200;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-Regular.woff");
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-Medium.woff");
	font-weight: 500;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-SemiBold.woff");
	font-weight: 600;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-Bold.woff");
	font-weight: bold;
}
@font-face {
	font-family: "manrope";
	src: url("../media/font/manrope/web/Manrope-ExtraBold.woff");
	font-weight: 800;
}