header {
	display: flex;
	padding: 0 20px;
	height: 80px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: white;
}

.header-logo {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.header-logo a {
	height: 100%;
	text-decoration: none;
	font-weight: 900;
	font-size: 20px;
}
.header-logo img {
	height: 100%;
	padding: 3px 0;
}

.header-menu {
	display: flex;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	height: 100%;
	justify-content: center;
	list-style: none;
}
.header-menu li {
	display: flex;
	max-width: 80px;
	width: 100%;
	height: 100%;
}
.header-menu a {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid transparent;
}
a.header-active svg {
	fill: var(--main-color);
}
a.header-active,
.header-menu li a:hover {
	border-bottom: 3px solid var(--main-color);
}
.header-menu li span {
	display: none;
	white-space: nowrap;
}
.header-menu svg {
	height: 30px;
	width: 30px;
	fill: var(--fore-color-var1);
}

.header-profile {
	display: flex;
	max-width: 80px;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.header-profile a {
	display: block;
}
.header-profile img {
	height: 60px;
	width: 60px;
	min-width: 60px;
	border-radius: 50%;
}