.vaccinsP ul{
	list-style-type: none;
}

.vaccinsP li{
	background-color: var(--main-color);
	color:var(--back-color);
	margin-left: 0.2em;
	margin-right: 0.2em;
	padding: 0.3em;
	display: inline;
	border-radius: 5em;

}

.detailsP ul{
	list-style-type: none;
}

.allergiesP ul{
	list-style-type: symbols("-");
}

#level {
	height: 0.8em;
	border: 2px solid var(--main-color);
}

#progress {
	height: 0.8em;
	background-color: var(--main-color) ;
}

/*button {
	color:var(--back-color);
	background-color: var(--main-color);
	border-radius: 5em;
	padding: 0.5em;
	margin: 0.2em;
}

button:hover {
	background-color: var(--main-color-var2);
	font-weight: bold;
}

img {
	border-radius: 6em;
}*/