.profile-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.profile-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding: 50px;
	width: 100%;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	background-color: var(--middle-color);
}
.profile-picture {
	max-width: 300px;
	border-radius: 50%;
	border: 5px solid var(--middle-color);
}
.level-container {
	width: 100%;
}
.level {
	height: 60px;
	border-radius: 100px;
	border: 2px solid var(--main-color);
}
.progress {
	height: 100%;
	border-radius: 100px;
	background-color: var(--main-color) ;
}
.level-numbers {
	display: flex;
	justify-content: space-between;
}

.profile-details-box {
	width: 100%;
}
.profile-details-box h3 {
	font-weight: 600;
	color: var(--fore-color);
}
.profile-details-box h3::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--fore-color);
}

.profile-vaccines ul {
	padding: 0;
	list-style-type: none;
}
.profile-vaccines li {
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
	padding: 10px 25px;
	border-radius: 100px;
	background-color: var(--main-color);
	color: white;
}

.profile-details {
	display: flex;
	flex-direction: column;
}

.profile-allergies ul {
	list-style-type: none;
}
.profile-allergies li::before {
	display: inline-block;
	content: "-";
	font-weight: 900;
	width: 25px;
	margin-left: -25px;
}

.profile-success ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.profile-success li {
	float: left;
	list-style-type: none;
	width: 125px;
}
.success-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 125px;
	border-radius: 50%;
	border: 4px solid var(--fore-color);
	fill: var(--fore-color);
}
.profile-success svg {
	max-width: 65px;
	max-height: 65px;
}
.success-item p {
	text-align: center;
}
.profile-btns {
	margin-bottom: 40px;
}


.edit-list {
	display: flex;
	flex-direction: column;
	padding: 0;
}
.edit-list li {
	margin-right: 0;
	margin-bottom: 15px;
	padding: 0;
	padding-left: 15px;
	background: none;
	color: initial;
	border-radius: initial;
	border-left: 2px solid var(--fore-color);
}
.edit-list li::before {
	display: none;
}
.profile-edit input {
	margin: 10px 0;
	width: 100%;
	min-width: 100px;
	min-height: calc(var(--size-input)*1.5/2);
}
.edit-list li details {
	margin: 0;
}
.edit-list li details summary {
	user-select: none;
}
.edit-list li details div {
	display: flex;
	align-items: center;
}
.edit-list li details label {
	white-space: nowrap;
	margin-right: 10px;
}