.stats-container {
	width: 100%;
	box-sizing: border-box;
}

.stats-tabs {
	display: flex;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style: none;
	justify-content: center;
	align-items: center;
	background-color: var(--middle-color);
	border-radius: 15px;
}
.stats-tabs li {
	justify-content: center;
	max-width: 100px;
	max-height: 100px;
	padding: 10px;
}
.stats-tabs li a {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: min(2vw, 20px);
	box-sizing: border-box;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	fill: var(--fore-color-var1);
	font-size: 16px;
	font-weight: 900;
	text-decoration: none;
}
.stats-tabs li svg {
	width: 40px;
	height: 40px;
}
.stats-tabs li a:hover {
	background-color: var(--main-color);
	fill: white;
}
.stats-tabs .tab-active {
	background-color: var(--main-color-var1);
	fill: white;
}

.stats-content {
	overflow: hidden;
}

.data-recap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 55px;
	row-gap: 35px;
	width: 100%;
	justify-content: center;
}
.data-card {
	display: flex;
	flex-direction: column;
	padding: 40px 50px;
  	border-radius: 30px;
	background-color: var(--middle-color);
	justify-content: center;
}
.data-card p {
	font-size: 20px;
	margin: 0 0 5px 0;
	color: var(--fore-color-var1);
}
.data-card span {
	color: var(--fore-color);
	line-height: 80px;
	font-size: 70px;
	font-weight: 900;
}
.data-card span small {
	font-size: 45px;
}

.data-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	padding: 50px;
	border-radius: 30px;
	background-color: var(--middle-color);
}
.stats-container canvas {
	margin-top: 40px;
	max-height: 700px;
}

#miniPocheSang {
	width: 50px;
	height: 50px;
}