.main-hero {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
}

.main-hero-title {
	max-width: 600px;
	text-align: center;
    margin: auto 0;
}
.main-hero-title h1 {
	color: var(--fore-color);
}
.main-hero-title svg {
	max-width: 300px;
	fill: var(--fore-color);
}

.main-form-container {
	max-width: 500px;
	width: 100%;
    margin: auto 0;
}

.main-form-container form {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main-form-container h3 {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
}

.form-input-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
}
.form-radio {
	position: initial;
	flex-direction: row;
}
	.form-input-icon {
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		height: 100%;
		width: var(--size-input);
	}
		.form-input-icon svg {
			margin: auto;
			height: 25px;
			fill: var(--fore-color-var1);
		}
	.main-form-container input:not([type="submit"], [type="radio"]),
	.main-form-container label {
		margin: 0;
		padding-left: var(--size-input);
	}
	.main-form-container label {
		cursor: text;
		position: absolute;
		font-weight: bold;
		font-size: 22px;
		height: 100%;
		line-height: var(--size-input);
		color: var(--fore-color-var1);
		transition:  all .3s ease;
		user-select: none;
	}
	.form-radio label {
		cursor: pointer;
		position: initial;
		line-height: calc(var(--size-input)/2);
		padding: 0;
	}
	.main-form-container input:not([type="submit"], [type="radio"], [type="checkbox"]):not(:placeholder-shown) + label {
		display: block;
		transform: translateY(calc(-1 * var(--size-input)/3 + 2px));
		font-size: 16px;
	}

.main-form-container input[type="submit"] {
	margin-top: 30px;
}

.main-form-container p {
	font-size: 18px;
	margin: 0 0 30px 0;
	font-weight: bold;
	text-align: center;
	background-color: var(--back-color);
	border-radius: 100px;
}

.main-form-container p span {
	cursor: pointer;
	text-decoration: underline;
	font-weight: 900;
	color: var(--main-color);
}

.form-error {
	color: var(--error-color);
	font-weight: bold;
	text-align: center;
}

/*Formes du fond (ronds et triangles)*/
.background-shape {
	z-index: -1;
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
}
.bg-shape {
	position: absolute;
	width: 300px;
	height: 800px;
	border-radius: 1000px;
	background: linear-gradient(0deg, var(--gradient-color1) 0%, var(--gradient-color2) 100%);
	transform: rotate(45deg);
}
.bg-shape::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: -20px;
	border-radius: inherit;
	background: linear-gradient(0deg, var(--gradient-color1) 0%, var(--gradient-color2) 100%);
	opacity: 0.3;
}
.bg-shape:nth-child(1) {
	top: -400px;
	left: -50px;
}
.bg-shape:nth-child(2) {
	bottom: -380px;
	right: -80px;
}
.bg-shape:nth-child(3) {
	bottom: -540px;
	left: -110px;
	width: 150px;
	transform: rotate(-135deg);
}
.bg-shape:nth-child(4) {
	bottom: -520px;
	left: 23%;
	width: 150px;
	transform: rotate(-135deg);
}
.bg-shape:nth-child(5) {
	top: -550px;
	right: 20%;
}