.calendar-container {
	display: flex;
	width: 100%;
}

.calendar-display,
.calendar-selected-container {
	max-width: 700px;
}

.calendar-display {
	padding: 30px;
	width: 60%;
	border-radius: 20px;
	background-color: var(--middle-color);
}

.calendar-header {
	display: flex;
	justify-content: space-evenly;
}
.calendar-header h3 {
	font-size: 34px;
	text-align: center;
}
.calendar-header button {
	display: flex;
	cursor: pointer;
	background: none;
	border: none;
	align-items: center;
	justify-content: center;
}
.calendar-header button svg {
	width: 30px;
	height: 30px;
}
.calendar-header button:first-child {
	transform: rotate(180deg);
}

.calendar-month {
	display: grid;
    grid-template-columns: repeat(7, 1fr);
	max-width: 600px;
	margin: auto;
}

.calendar-day {
	z-index: 3;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 6px;
	/*aspect-ratio: 1 / 1;*/
	height: 60px;
	justify-content: center;
	align-items: center;
    cursor: pointer;
	border-radius: 50%;
	font-size: 30px;
	font-weight: bold;
}
.calendar-day > * {
	pointer-events:none
}
.calendar-day-selected {
	color: white;
}
.calendar-day-selected::before,
.calendar-today::before {
	z-index: -1;
	content: " ";
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.calendar-day-selected::before {
	background-color:var(--main-color);
}
.calendar-today::before {
	border: 4px solid var(--main-color-var2);
}
.calendar-day-info {
	display: flex;
	height: 10px;
	mix-blend-mode: luminosity;
}
.calendar-day-info-periods,
.calendar-day-info-objectives {
	width: 10px;
	height: 10px;
}
.calendar-day-info-periods {
	background-color: red;
}
.calendar-day-info-objectives {
	background-color: purple;
}


.calendar-selected-container {
	margin-left: 30px;
	width: 40%;
}
.calendar-selected-container h4 {
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}

.calendar-selected-item {
	display: flex;
	align-items: center;
	padding: 35px 25px;
	margin-bottom: 20px;
	background-color: var(--middle-color);
	border-radius: 20px;
}
.calendar-selected-time {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
}
.calendar-selected-desc {
	margin-left: 25px;
}
.calendar-selected-desc h5 {
	margin: 0;
	font-size: 22px;
}
.calendar-selected-desc p {
	margin-top: 4px;
	font-size: 17px;
	font-weight: 300;
}